table{

  width: 100%;
}



.mat-form-field{
font-size: 14px;
width: 100%;
}


.circular-image {
  width: 55px;
  height: 55px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  border-radius: 50%;
  overflow: hidden;
}


.circular-image:hover {
  transform: scale(1.2);
  z-index: 10;
}


.usuario-no-activo {
  color: red;
  font-weight: bold;
}
button:hover {
  background-color: rgb(79, 96, 113);
}
button[color="warn"]:hover {
  background-color: #c6a5a5; /* Cambia el color al pasar el ratón sobre el botón */
}
button[color="primary"]:hover {
  background-color: #b4c1ea; /* Cambia el color al pasar el ratón sobre el botón */
}

button.ver {
  /* background-color: #9b8f67;  */
  color: #73673e; /* Color del texto del botón Cancelar */
}
button.ver:hover {
  background-color:  #e0ddbf; /* Cambia el color de fondo al pasar el ratón sobre el botón */
}

button.agregar {
  background-color: #3351aa; /* Fondo del botón Cancelar */
  color: #fff; /* Color del texto del botón Cancelar */
  position: absolute;
  top: -30px;
  left: 840px;
  cursor: pointer;
  transition: color 0.3s ease;
  padding: 15px;
  border-radius: 5px;

}
button.agregar:hover {
  background-color:  rgb(79, 96, 113); /* Cambia el color de fondo al pasar el ratón sobre el botón */
}
button.ListaCliente {
  background-color: #3351aa; /* Fondo del botón Cancelar */
  color: #fff; /* Color del texto del botón Cancelar */
  position: absolute;
  top: -30px;
  left: 100px;
  cursor: pointer;
  transition: color 0.3s ease;
  padding: 15px;
  border-radius: 5px;

}
button.ListaCliente:hover {
  background-color:  rgb(79, 96, 113); /* Cambia el color de fondo al pasar el ratón sobre el botón */
}

.minimalist-Usuario {
  position: absolute;
  top: 0px;
  left: 860px;
  cursor: pointer;
  transition: color 0.3s ease;
  padding: 15px;
    border-radius: 5px;
}
/* Estilos para el campo de búsqueda futurista */
.futuristic-search-field {
  width: 100%;
  max-width: 500px; /* Ajusta el ancho máximo según tus necesidades */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1); /* Color de fondo semitransparente */
  border-radius: 25px; /* Esquinas redondeadas */
  padding: 10px 20px; /* Espaciado interno */
  border: 2px solid transparent; /* Borde transparente inicial */
  transition: border-color 0.3s ease, background-color 0.3s ease;
}


/* Estilos para el campo de entrada */
.futuristic-search-field input {
  flex: 1; /* El campo de entrada ocupa el espacio restante */
  color: #323131; /* Color del texto */
  border: none; /* Borde transparente */
  outline: none; /* Elimina el contorno de enfoque */
  background-color: transparent; /* Fondo transparente */
  font-size: 16px; /* Tamaño de fuente */
}

/* Estilos para el icono de búsqueda */
.futuristic-search-button {
  background-color: transparent; /* Fondo transparente */
  color: #434546; /* Color del icono */
  border: none; /* Borde transparente */
  cursor: pointer;
}

.futuristic-search-button:hover {
  color: #ffffff; /* Cambia el color al pasar el cursor */
}

/* Estilos para el campo de entrada cuando está enfocado */
.futuristic-search-field:focus-within {
  border-color: #8ac6d1; /* Cambia el color del borde al enfocar */
  background-color: rgba(255, 255, 255, 0.2); /* Cambia el fondo al enfocar */
}

/* Estilos para la etiqueta (placeholder) del campo de entrada */
.futuristic-search-field input::placeholder {
  color: #0a0b0b; /* Color del placeholder */
}

/* Estilos para la etiqueta del campo de entrada cuando está enfocado */
.futuristic-search-field input:focus::placeholder {
  color: #0a0b0b; /* Cambia el color del placeholder al enfocar */
}
.container {
  margin: 20px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.table-container {
  overflow-x: auto;
}


.pagination-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.mat-icon-button {
  min-width: 0;
}

.page-size-select {
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
}

.page-info {
  margin-left: 10px;
  margin-right: 10px;
}
button.pasar:hover {
  background-color:  rgb(255, 255, 255);
}
.pasar {
  color: #2196f3;
  /* Color de los iconos */
  transition: color 0.3s;
  /* Transición suave al cambiar el color */
}

.pasar:disabled {
  color: #ccc;
  /* Color de los iconos deshabilitados */
  pointer-events: none;
  /* Desactiva eventos de clic */
}

.pasar mat-icon {
  font-size: 20px;
  /* Tamaño del icono */
}

.pasar:hover:not(:disabled) {
  color: #1565c0;
  /* Color más oscuro en hover */
}

/* para que no se salgan las tabla del mat-card en vista movil */
.table-container {
  overflow-x: auto; /* Permite el desplazamiento horizontal */
  -webkit-overflow-scrolling: touch; /* Mejora el desplazamiento en dispositivos táctiles */
}

@media (max-width: 768px) {
  .footer {
    position: relative;
    left: 0px; /* Salir del contenedor principal */
    width: calc(100% + 40px); /* Hacerlo más largo que el mat-card */
    background-color: #333; /* Cambiar color si es necesario */
  }
  mat-card {
    margin: 10px;
    width: calc(100% - 20px); /* Ajusta el ancho del mat-card */
    font-size: larger;

  }


  .futuristic-search-field {
    width: 90%;
  }

  /* Ajustar la barra de paginación para pantallas móviles */
  .pagination-controls {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
  }

  /* Reducir el tamaño de los botones de paginación */
  .pagination-controls .mat-icon-button {
    padding: 5px;
    font-size: 20px; /* Ajusta el tamaño según sea necesario */
  }

  /* Cambiar el ancho del selector de tamaño de página */
  .page-size-select {
    width: 80px; /* Reduce el ancho para dispositivos móviles */
  }

  /* Reducir el margen del texto de información de página */
  .page-info {
    margin: 0;
    font-size: 14px; /* Tamaño más pequeño para móviles */
  }

  /* Ajuste general de la tabla para evitar el desbordamiento en dispositivos móviles */
  .table-container {
    padding: 0 5px;
  }

  /* Ajuste de fuente y espaciado en la tabla */
  table.mat-table td, table.mat-table th {
    font-size: 14px; /* Tamaño reducido para móviles */
    padding: 8px;
  }


}
