mat-form-field {

  width: 100%;
  margin: 10px 10px;

}

form {
  width: 520px;
}

/* Agrega estas reglas al final del archivo modal-producto.component.css */
.preview-img {
  position: relative;
  max-width: 100%;
  max-height: 300px; /* límite de alto */
  overflow: auto; /* agrega scroll si la imagen es muy grande */
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* evita deformar la imagen */
  border-radius: 8px;
}


.clear-image {
  position: absolute;
  top: 5px;
  /* Ajusta la posición vertical del botón según tus preferencias */
  right: 5px;
  /* Ajusta la posición horizontal del botón según tus preferencias */
  /* color: #f44336; */
}

/* .clear-image:hover {
  color: #c6a5a5 !important;
} */
.preview-image {
  max-width: 300px;
  max-height: 200px;
  margin-top: 10px;
  /* Ajusta el margen superior según tus preferencias */
}





/* Agrega estas reglas al final del archivo modal-producto.component.css */
.custom-upload-container {
  position: relative;
  overflow: hidden;
}

.custom-upload-button {
  background-color: #7e3f88;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.custom-upload-button:hover {
  background-color: #7e3f88;
}

.mat-input-file {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.file-name-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 28px;
  /* Ajusta el margen superior a tu preferencia */
}

.file-name-container input {
  flex: 1;
}

.file-name-container button {
  margin-left: 5px;
  /* Ajusta el margen izquierdo a tu preferencia */
}

/* Añade este estilo para alinear el icono más abajo */
.custom-upload-container mat-icon {
  margin-top: 5px;
  /* Ajusta el margen superior a tu preferencia */
}


/* button:hover {
  background-color: rgb(79, 96, 113);
} */
button[color="warn"] {
    color: white;
  background-color: #df2323; 
}
button[color="warn"]:hover {
    color: white;
  background-color: #d16969; 
}

button[color="primary"]:hover {
  background-color: #0e2465;
  /* Cambia el color al pasar el ratón sobre el botón */
}

button.agregar {
  background-color: #3351aa;
  /* Fondo del botón Cancelar */
  color: #fff;
  /* Color del texto del botón Cancelar */
}

button.precio {
  background-color: #ff4081;
  /* Fondo del botón Cancelar */
  color: #fff;
  /* Color del texto del botón Cancelar */
}

button.agregar:hover {
  background-color: rgb(79, 96, 113);
  /* Cambia el color de fondo al pasar el ratón sobre el botón */
}

button.venta {
  /* background-color: #9b8f67;  */
  color: #3351aa;
  /* Color del texto del botón Cancelar */
}

button.venta:hover {
  background-color: #b4c1ea;
  /* Cambia el color de fondo al pasar el ratón sobre el botón */
}

button.ver {
  /* background-color: #9b8f67;  */
  color: #73673e;
  /* Color del texto del botón Cancelar */
}

button.ver:hover {
  background-color: #e0ddbf;
  /* Cambia el color de fondo al pasar el ratón sobre el botón */
}

button.agregar[disabled] {
  background-color: #ccc;
  /* Fondo del botón en gris cuando está deshabilitado */
  color: #666;
  /* Color del texto en gris cuando está deshabilitado */
}

button.agregar[disabled]:hover {
  background-color: #ccc;
  /* Mantener el color de fondo en gris al pasar el ratón sobre el botón deshabilitado */
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
}

.dialog-actions button:first-child {
  margin-right: auto;
  /* Mueve el botón "Guardar" al centro */
}

button.eliminar {
  /* background-color: #9b8f67;  */
  color: #f44336;
  /* Color del texto del botón Cancelar */
}

button.eliminar:hover {
  background-color: #c6a5a5;
  /* Cambia el color de fondo al pasar el ratón sobre el botón */
}

.icon-green {
  color: rgb(0, 152, 0);
}

.icon-red {
  color: red;
}

.icon-blue {
  color: #007bff;
}

.icon-orange {
  color: #fd7e14;
}

.icon-purple {
  color: #6f42c1;
}

.icon-yellow {
  color: #ffc107;
}

.icon-black {
  color: #343a40;
}


.role-icon {
  margin-right: 8px;
}

.administrador-icon {
  color: red;
}

.empleado-icon {
  color: blue;
}

.supervisor-icon {
  color: green;
}

.cliente-icon {
  color: #fd7e14;
}

.content {
  padding-top: 10px;
}

.row {
  display: flex;
  gap: 10px;

  mat-form-field {
    width: 50%;
  }
}
.button-center {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
/* .row2 {
  display: flex;
  gap: 10px;

  mat-form-field {
    width: 100%;
  }
} */

.mat-form-field .mat-error {
  white-space: normal; /* Permite que los errores se alineen en múltiples líneas sin expandir el input */
}

.contraseña {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Permite que el campo de contraseña maneje su propio contenido */
}

.icon-verde {
  color: green;
}

@media (max-width: 768px) {

  .row {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .row mat-form-field {
    width: 90%;
  }

  .dialog-actions {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .dialog-actions button {
    width: 100%;
    margin-bottom: 10px;
  }
  form {
    width: 300px !important;
    /* height: 300px; */
  }

}
