.paseos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
}

.paseo-card {
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}


.paseos-carrusel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.paseos-grid {
  display: flex;
  gap: 5px;
  overflow-x: auto;  /* permitir scroll horizontal en m贸vil */
  scroll-snap-type: x mandatory; /* snap al deslizar */
  -webkit-overflow-scrolling: touch; /* scroll suave en iOS */
  flex: 1;
  padding-bottom: 10px;
}
.paseo-card {
  min-width: 260px;
  max-width: 260px;
}
.paseo-card:hover {
  transform: translateY(4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border: 2px solid #eb9b19;   /* borde naranja */
}
.perros-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  align-items: center;
}




/* .perro-item {
  display: flex;
  align-items: center;
  gap: 6px;
  background: #f9f9f9;
  padding: 4px 8px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.perro-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
} */


.perros-lista-scroll {
  display: flex;
  gap: 10px;
  overflow-x: auto;   /*  scroll horizontal */
  padding: 5px 0;
  scrollbar-width: thin;
}

.perro-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 70px; /* evita que se aplasten */
  text-align: center;
}

.perro-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid #ddd;
  transition: transform 0.2s ease;
}

.perro-img:hover {
  transform: scale(1.1);
}

button.ver {
  background-color: #73673e; /* Fondo del bot贸n Cancelar */
  color: #fff; /* Color del texto del bot贸n Cancelar */
}
button.ver:hover {
  background-color:  #6d6c5e; /* Cambia el color de fondo al pasar el rat贸n sobre el bot贸n */
}

button.ver[disabled] {
  background-color: #ccc;
  /* Fondo del bot贸n en gris cuando est谩 deshabilitado */
  color: #666;
  /* Color del texto en gris cuando est谩 deshabilitado */
}

button.ver[disabled]:hover {
  background-color: #ccc;
  /* Mantener el color de fondo en gris al pasar el rat贸n sobre el bot贸n deshabilitado */
}


button.agregar {
  background-color: #3351aa; /* Fondo del bot贸n Cancelar */
  color: #fff; /* Color del texto del bot贸n Cancelar */
}
button.agregar:hover {
  background-color:  rgb(79, 96, 113); /* Cambia el color de fondo al pasar el rat贸n sobre el bot贸n */
}

button.agregar[disabled] {
  background-color: #ccc;
  /* Fondo del bot贸n en gris cuando est谩 deshabilitado */
  color: #666;
  /* Color del texto en gris cuando est谩 deshabilitado */
}

button.agregar[disabled]:hover {
  background-color: #ccc;
  /* Mantener el color de fondo en gris al pasar el rat贸n sobre el bot贸n deshabilitado */
}

button[color="warn"]:hover {
  background-color: #bb4141;
  /* Cambia el color al pasar el rat贸n sobre el bot贸n */
}

@media (max-width: 600px) {
  h2 {
    font-size: 18px;
  }

  .paseo-card {
    min-width: 260px;
    max-width: 100%;
  }

  .perro-img {
    width: 40px;
    height: 40px;
  }

  .perro-item span {
    font-size: 11px;
  }
}